.panelProveedoresFiltro {
  margin-bottom: 15px;
}

.divTableSearch {
  display: flex;
  justify-content: space-between;
}

.iconColorTrue {
  color: #51f30e;
}

.iconColorFalse {
  color: #b5b5aa;
}
