<div class="container">
  <alert type="danger" *ngIf="validationMsg" dismissOnTimeout="5000">
    <strong>{{ msgError }}</strong>
  </alert>
  <form [formGroup]="form" class="p-3" novalidate>
    <fieldset>
      <legend>
        <h2><fa-icon [icon]="faUser"></fa-icon> Olvide contraseña</h2>
      </legend>

      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label for="inputState" class="form-label">Cédula</label>
          <input
            type="number"
            class="form-control"
            formControlName="usrCedula"
          />
          <div class="validationErrorRed ion-text-center">
            <ng-container
              *ngFor="let validation of validationsMessage.usrCedula"
            >
              <div *ngIf="isValid('usrCedula', validation.type)">
                <small>{{ validation.message }}</small>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="text" class="form-control" formControlName="usrEmail" />
          <div class="validationErrorRed ion-text-center">
            <ng-container
              *ngFor="let validation of validationsMessage.usrEmail"
            >
              <div *ngIf="isValid('usrEmail', validation.type)">
                <small>{{ validation.message }}</small>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
      <button class="btn btn-block btn-success" (click)="validateForm()">
        <fa-icon [icon]="faSave"></fa-icon>
        {{ textBtn }}
      </button>

      <button class="btn btn-danger" (click)="home()">
        <fa-icon [icon]="faWindowClose"></fa-icon>
        Regresar
      </button>
    </div>
  </form>
</div>
