<div class="container">
  <div class="title" style="display: flex; justify-content: space-between">
    <div class="divTitle">
      <h1>REQUERIMIENTOS</h1>
    </div>
    <div class="buttonAdd" style="display: flex; align-items: center">
      <button
        class="btn btn-primary"
        (click)="openModalWithComponent(1, {}, 'title: string', 'create')"
      >
        Nuevo Requerimiento
      </button>
    </div>
  </div>

  <p-messages [(value)]="msgsError"></p-messages>

  <p-panel
    header="FILTROS PARA CONSULTAS"
    [toggleable]="true"
    [collapsed]="true"
  >
    <form [formGroup]="form" class="p-3" novalidate>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Localidad</label>
          <input
            type="text"
            class="form-control"
            formControlName="idLocalidad"
          />
        </div>
        <div class="col-12 col-md-6">
          <label for="inputState" class="form-label"
            >Categoría del servicio</label
          >
          <ng-select
            [items]="categoriasServicio"
            [selectOnTab]="true"
            bindLabel="proSerDescripcion"
            bindValue="id"
            placeholder="Seleccione categoría"
            [searchable]="false"
            formControlName="idCategoriaServicio"
          >
          </ng-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Estado</label>
          <ng-select
            [items]="prvEstados"
            [selectOnTab]="true"
            bindLabel="parDescripcion"
            bindValue="id"
            placeholder="Seleccione estado"
            [searchable]="false"
            formControlName="idEstado"
          >
          </ng-select>
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Razón Social</label>
          <input
            type="text"
            class="form-control"
            formControlName="razonSocial"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label for="nit" class="form-label">Nit</label>
          <input type="text" class="form-control" formControlName="nit" />
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button class="btn btn-block btn-success">
          <fa-icon [icon]="faSearch"></fa-icon>
          Consultar
        </button>
      </div>
    </form>
  </p-panel>

  <p-table
    #dt1
    dataKey="id"
    [value]="datos"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    styleClass="p-datatable-sm"
    [globalFilterFields]="[
      'id',
      'usrCedula',
      'usrEmail',
      'FechaRegistro',
      'usrNombreCompleto'
    ]"
    responsiveLayout="stack"
  >
    <ng-template pTemplate="caption">
      <div class="divTableSearch">
        <button
          pButton
          label="Limpiar"
          class="btn btn-primary"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        >
          Limpiar
        </button>
        <span class="p-input-icon-right ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar por palabra"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pSortableColumn="id">
          <div class="flex justify-content-center align-items-center">
            Id <p-sortIcon field="id"></p-sortIcon>
            <p-columnFilter
              type="numeric"
              field="id"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="usrCedula">
          Cedula <p-sortIcon field="usrCedula"></p-sortIcon>
        </th>
        <th pSortableColumn="usrEmail">
          Email <p-sortIcon field="usrEmail"></p-sortIcon>
        </th>
        <th pSortableColumn="FechaRegistro">
          Fecha registro <p-sortIcon field="FechaRegistro"></p-sortIcon>
        </th>
        <th pSortableColumn="usrNombreCompleto">
          Nombres <p-sortIcon field="usrNombreCompleto"></p-sortIcon>
        </th>
        <th>Aciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td style="width: 10%">{{ person.id }}</td>
        <td style="width: 10%">{{ person.usrCedula }}</td>
        <td style="width: 20%">{{ person.usrEmail }}</td>
        <td style="width: 15%">
          {{ person.fechaRegistro | date: "dd/MM/yyyy" }}
        </td>
        <td style="width: 20%">{{ person.usrNombreCompleto }}</td>
        <td style="width: 10%">
          <button
            type="button"
            class="btn btn-warning"
            (click)="
              openModalWithComponent(person.id, person, 'Editar', 'update')
            "
            *appRole="['Editar']"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- <button
          type="button"
          class="btn"
          tooltip="Permite resetear la contraseña al usuario"
          (click)="resetPassword(person)"
          *appRole="['Editar']"
        >
          <fa-icon [icon]="faKey"></fa-icon>
        </button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="tableRegisterNotFound">
          Registros no encontrados!!!
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
